#hoved {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #8cbe05;
    top: 0px;
    left: 0px;
}

nav {
    /* i forhold til nettleservinduet */
    top: 0;
    border-bottom: 1px solid chartreuse;
    padding: 20px;
    width: 100%;
    background-color: #8cbe05;
}

ul {
    list-style-type: none;
    /* Fjerner kulepunkter */
    margin: auto;
    /* Fjerner alle mellomrom */
    /* Fjerner alle mellomrom */
    text-align: center;
}

ul li{
    display: inline; 
    /*Gjør listepunktene til inline*/
}

ul a {
    padding: 10px 10px;
    /* Avstand mellom bokskant og innhold, topp/bunn 10px og sidene 40px */
    border-radius: 0;
    /* Avrundede hjørner */
    margin: -2px;
    /* Avstand mellom bokser */
    color: #e7f1cc;
    /* Farge på teksten */
    font-weight: bolder;
    /* Fet tekst */
    text-decoration: none;
    /* Fjerner understrek */
    background-color: #8cbe05;
    /* Fargelegger boksene */
    border-left: 2px solid white; 
    position: relative;
    
}

#hjem{
    border-left: none;
}

a:hover{
    color: gray;
    background-color: white;
}

