  
 /*Endrer navbar og search engine bar*/
  .topnav a {
    float: center;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
   
  
 /*Styler søke boksen. Dette er bare for pynt. I en ekte nettside ville den ha fungert*/
  .topnav input[type=text] {
    float: center;
    padding: 15px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 15px;
  }
  
  
  
